langchain
langchain-core
langchain-community
chromadb
chardet
sentence-transformers
chromadb
langchain-groq
python-dotenv
langchain_openai
openai
langgraph
Django
daphne
djangorestframework
djangorestframework-simplejwt
django-cors-headers